<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Task Manager{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('tasks') }}">Mes tâches
                        <span class="badge badge-secondary">{{ tasks|length }}</span>
                        <span class="sr-only">unread messages</span>
                    </a>
                </li>
            </ul>
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-error" role="button" aria-pressed="true">Se deconnecter</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success" role="button" aria-pressed="true">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <div style="margin-top:15px;">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</div>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
