{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ form_stylesheet(form) }}
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h2>Ajout d'une tâche</h2>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}